[%- -%]
package [% inner_class %];
  use Moose;

  use MooseX::ClassAttribute;

[% FOREACH param_name=keys_shape.enum.sort -%]
  has [% param_name %] => (is => 'ro', isa => '[% c.get_caller_class_type(iclass.value.shape) %]');
[% END -%]
1;

[% INCLUDE 'map_enum_documentation.tt' %]
